<% provide(:title, 'About') %>

<h1 class="text-center">About Us</h1>

<p>
  Welcome to the Marin Cricket Club! You want cricket? We have all the cricket you need!
</p>
<p>
  Our goal is to promote and play cricket in a fun, relaxed and inclusive environment.
</p>
<p>
  We currently have a 3 tiered team structure. We run two League teams playing as part of NCCA and a Social team.
</p>
<p>
  The Socials team plays every Saturday from the beginning of May until the end of October.
  Our league teams tour around all parts of the Bay Area but are usually found hosting games on our field on Sundays.
</p>
<p>
  Our matches are played at Miller Field, Piper Park, located in Larkspur.
  It is a beautiful place to watch and play a game of cricket and we'd love for you to stop by
  and chat with us to learn more about our club or about how the game is played.
</p>
<p>
  Click here to learn more about the history of our club.
</p>
<p>
  We are a part of the Northern California Cricket Association. Here are the officers of the club:
</p>

<ul>
  <li>Chairman - Nick Lynam</li>
  <li>Club Secretary - Minesh Govenji</li>
  <li>1st XI Captain - Rahul Khona</li>
  <li>2nd XI Captain - Manish Sharma</li>
  <li>Social Captain - Vishnu Chapalamadugu</li>
  <li>Selection - Everton Matambanadzo</li>
  <li>Treasurer - Singh Virk</li>
  <li>Grounds Director - Vacant</li>
  <li>Webmaster - Red Hendery</li>
</ul>

<p>
  If you are interested in playing with us, click on the Join Now button below.
</p>
