<div class="row">
  <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
    <h1>The Ashes 2019</h1>
    <p>August 17th</p>
    <p>Come down and watch The Ashes!</p>
    <p>
      One of the highlights of our Social Calendar every year, this is always a fun, highly competitive game and great day at Piper Park!
      Come out to watch, cheer and support then have some lunch and enjoy the cricket!
    </p>
    <p>Please sign up for lunch so we know a headcount</p>
    <%= link_to 'Eventbrite Invitation',
      'https://www.eventbrite.com/e/marin-cricket-club-ashes-2019-tickets-67068582937',
      class: 'btn btn-lg btn-primary', target: 'blank' %>
  </div>
  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
    <%= image_tag('ashes.png', alt: 'New York Life 2019', class: 'img-fluid') %>
  </div>
</div>
