<h1>Welcome to the Marin Cricket Club!</h1>

<p>Hi everyone,</p>

<p>As we continue to navigate through the current Covid19 situation, I first want to make sure everyone is safe and healthy. That is the #1 priority.</p>

<p>At this time we do not have a clear picture of our 2020 Season.</p>

<p>As we get more information, with goal to playing some cricket here in 2020, we will be updating everyone.</p>

<p>Please check back here regularly, emails will go out to the existing members as decisions are made.</p>

<p>Again, stay healthy and safe.</p>

<p>Nick Lynam</p>

<p>Chairman & Club President</p>
