<% provide(:title, 'Pay Membership') %>

<h1 class="text-center">Pay Your 2019 Season Membership Dues</h1>

<div class="col">
  <p>Membership dues and Socials match fees are to be paid via Venmo. You will not be able to sign up for games until you have paid your dues.</p>

  <div class="row justify-content-around">
    <div class="col">
      <h4>Full Membership: $375</h4>
      <h4>Student Membership: $200</h4>
      <h4>Viewer Membership: $50</h4>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 col-xs-12 text-center">
      <%= image_tag('mcc_logo.png', alt: 'Marin Cricket Club Venmo QR Code', class: 'img-fluid') %>
    </div>
  </div>
</div>

<div class="row justify-content-around">
  <div class="col">
    <p>Don't have Venmo? Download the app onto your phone from the relevant link below.</p>
    <%= link_to image_tag('app_store.png', alt: 'Venmo App on the Apple App Store'),
        'https://itunes.apple.com/us/app/venmo/id351727428?mt=8', target: 'blank', class: 'img-fluid' %>

      <%= link_to image_tag('play_store.png', alt: 'Venmo App on the Google Play Store'),
          'https://play.google.com/store/apps/details?id=com.venmo', target: 'blank', class: 'img-fluid' %>
  </div>
</div>
