<div class="row">
  <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 col-xs-12">
    <%= image_tag('NYL_2019.jpg', alt: 'New York Life 2019', class: 'img-fluid') %>
  </div>
  <div class="col-xl-8 col-lg-8 col-md-6 col-sm-12 col-12 col-xs-12">
    <h1 class="text-center">New York Life 2019</h1>
    <p>The sixth annual New York Life T20 tournament is upon us!</p>
    <p>Team India will defend the title against Rest of the World, Rainbow Nation and Sri Lanka!</p>
    <p>Players are to report at 8:30 with the first game at 9am.
      Fans are welcome anytime! Lunch will be served around 12:30 for players and fans alike!
    </p>
  </div>
</div>
