<div class="row">
  <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 col-xs-12">
    <%= image_tag('NYL_2019.jpg', alt: 'New York Life 2019', class: 'img-fluid') %>
  </div>
  <div class="col-xl-8 col-lg-8 col-md-6 col-sm-12 col-12 col-xs-12">
    <h1 class="text-center">New York Life 2019</h1>
    <p>The sixth annual New York Life T20 tournament has been won by India!</p>
    <p>
      In the first game of the day, Sri lanka knocked out the Rest of World who put in a spiritied chase.
      Game two saw India defeat the Rainbow Nation who snatched defeat from the jaws of victory!
    </p>
    <p>
      Team India successfully defended their title in a repeat of last years final
      comfortably beating Sri Lanka by 9 wickets.
    </p>
  </div>
  <p>We cannot thank Mani Bakshi and the team at New York Life enough for their on going support if this event and our club.</p>
</div>
