<h1>Marin Cricket Club</h1>

<p>Hello <%= @user.name %>!</p>

<p>
  Thank you for signing up to the Marin Cricket Club Socials programme! Please click the link below to verify your email address and activate your account:
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token, email: @user.email) %>
