<div class="row justify-content-around">
  <% if @previous.blank? %>
    <div class="col-xl-5 col-lg-6 col-md-6 col-sm-12 col-12">

      <h1>Upcoming Games</h1>
      <% @upcoming.each do |schedule| %>
        <%= render schedule %>
      <% end %>
    </div>
  <% else %>

  <div class="col-xl-5 col-lg-6 col-md-6 col-sm-12 col-12">
    <h1>Previous Games</h1>
    <% @previous.each do |schedule| %>
      <%= render schedule %>
    <% end %>
  </div>

  <div class="col-xl-5 col-lg-6 col-md-6 col-sm-12 col-12">
    <h1>Upcoming Games</h1>
    <% @upcoming.each do |schedule| %>
      <%= render schedule %>
    <% end %>
  </div>

  <% end %>
</div>
