<h1>This Weekends Games</h1>
<div class="row justify-content-around">
  <%= render 'static_pages/partials/upcoming' %>
</div>

<% if @previous.empty? %>
  <h3>There were no games last weekend.</h3>
<% else %>
  <h1 style="padding-top: 30px;">Last Weekends Games</h1>
  <div class="row justify-content-around">
    <%= render 'static_pages/partials/previous' %>
  </div>
<% end %>
