<h1>2019 Season Now Open!!!</h1>
<p>
  Welcome to Marin Cricket Club! Here you will find all the information
  <%= link_to "about our club and it's executive members", about_path %>
   and current season!
</p>
<p>
  We are not currently taking new players for our Socials team in 2019.
</p>
<p>
  We do have space available to players interested in joining one of our NCCA League Teams.
</p>
<p>
  So if you want to be part of our club,
  <%= link_to 'send us a message', contact_index_path %>
  and we will get back to you as soon as we can!
</p>
</br>
<p>Previous Socials members please create an account to sign up for this seasons games!</p>
<%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
</br>
</br>
<p>Already a Socials member? Log in to sign up for upcoming games!</p>
<%= link_to 'Log in now!', login_path, class: 'btn btn-lg btn-primary' %>
