<h1>2019 Season Now Open!!</h1>
<p>Welcome to Marin Cricket Club! Here you will find all the information about the club, executive members and upcoming season!</p>
<p>If you are new to the area and want to be part of our club, <%= link_to 'send us a message', contact_index_path %> and we will get back to you as soon as we can!</p>
</br>
<p>Previous Socials members please create an account to sign up for this seasons games!</p>
<%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
</br>
</br>
<p>Already a Socials member? Log in to sign up for upcoming games!</p>
<%= link_to 'Log in now!', login_path, class: 'btn btn-lg btn-primary' %>

<div style="padding:56.25% 0 0 0;position:relative;margin-top:30px;">

  <iframe src="https://player.vimeo.com/video/243215851?byline=0&portrait=0"
          style="position:absolute;top:0;left:0;width:100%;height:100%;"
          frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
  </iframe>
</div>
<script src="https://player.vimeo.com/api/player.js"></script>
