<% @upcoming.where(team: 'Firsts').each do |schedule| %>
  <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
    <h3 class="text-center">Firsts</h3>
    <%= render schedule %>
  </div>
<% end %>

<% @upcoming.where(team: 'Seconds').each do |schedule| %>
  <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
    <h3 class="text-center">Seconds</h3>
    <%= render schedule %>
  </div>
<% end %>

<% @upcoming.where(team: 'Socials').each do |schedule| %>
  <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
    <h3 class="text-center">Socials</h3>
    <%= render schedule %>
  </div>
<% end %>
