<li>
  <%= gravatar_for user, size: 50 %>
  <%= link_to user.name, user %>
  <% if admin_logged_in? %>
    <%= link_to 'Delete', user,class: 'btn btn-danger float-right',  method: :delete,
        data: { confirm: 'You sure brah? ' + user.name + ' will be PERMANENTLY DELETED from the database.'} %>
    <% if user.paid? == false %>
      <%= link_to 'Paid Fees', paid_user_path(user), class: 'btn btn-success float-right',
                  method: :put, data: { confirm: user.name + ' has paid fees?' } %>
    <% end %>
  <% end %>
</li>
