<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>

<% unless @user.paid? %>
  <p>
    Please click the link below to to pay your membership dues.
    <b>You are unable to sign up for games until your fees have been paid.</b>
  </p>
  <%= link_to 'Memberships', membership_path, class: 'btn btn-lg btn-primary' %>
<% end %>

<% if admin_logged_in? %>
  <%= render 'admin_buttons' %>
<% end %>
