<% provide(:title, 'Edit Game') %>
<% provide(:button_text, 'Save Changes') %>
<h1>Update Profile</h1>
<div class="form-group row">
  <div class="col-md-6 offset-md-3">
    <%= render 'form' %>
  </div>
</div>
