<% provide(:title, 'Add Schedule') %>
<% provide(:button_text, 'Create Game') %>
<h1>Create Game</h1>
<div class="form-group row">
  <div class="col-md-6 offset-md-3">
    <%= render 'form' %>
  </div>
</div>
