<% provide(:title, @schedule.opponent) %>
<h1>Game Information</h1>
<ul>
  <li><%= @schedule.date %></li>
  <li><%= @schedule.opponent %></li>
  <li>Game <%= @schedule.series_game %></li>
  <li><%= @schedule.location %></li>
</ul>
