<div class="card">
  <div class="card-body">
    <h5 class="card-title"><strong>Match Run Times</strong></h5>
    <ul class="card-text">
      <li>Players arrive: <span class="float-right">10:15 am</span></li>
      <li>Coin Toss: <span class="float-right">10:25 am</span></li>
      <li>Game Start: <span class="float-right">10:45 am</span></li>
      <li>Lunch Break: <span class="float-right">2:15 pm</span></li>
      <li>2nd Innings Start: <span class="float-right">2:45 pm</span></li>
      <li>Game End: <span class="float-right">6:00 pm</span></li>
    </ul>
  </div>
</div>
