<div class="card">
  <div class="card-body">
    <h5 class="card-title"><strong>Match Run Times</strong></h5>
    <ul class="card-text">
      <li>Players arrive: <span class="float-right">10:15am</span></li>
      <li>Coin Toss: <span class="float-right">10:25am</span></li>
      <li>Game Start: <span class="float-right">10:45am</span></li>
      <li>Lunch Break: <span class="float-right">2:15pm</span></li>
      <li>Game End: <span class="float-right">6:00pm</span></li>
    </ul>
  </div>
</div>
