<div class="card">
  <div class="card-body">
    <h5 class="card-title"><strong>Socials Team</strong></h5>

    <% @schedule.users.each do |user| %>
      <ul class="card-text">
        <li><%= user.name %> <%= user.surname %></li>
      </ul>
    <% end %>
  </div>
</div>
