// Place all the styles related to the Schedules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Card Spacing
.body-content {
  margin-top: 10px;
}

.card-deck {
  min-height: 100%;
  padding-bottom: 30px;
  h5 {
    margin-top: 12px;
  }
}

ul {
  margin: 0;
  padding: 0;
}
