<footer class="footer">
  <div class="container">
    <span class="text-muted text-center">
      &copy; Marin Cricket Club, Larkspur, California. Site built, maintained and desgined by Red Hendery.
    </span>
  </div>
</footer>
